<!DOCTYPE html>
<html>
<head>
    <title>Expense List</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'expenses/style.css' %}">



</head>
<body>
    <h1>All Expenses</h1>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.date }}</td>
            <td>{{ expense.category }}</td>
            <td>${{ expense.amount }}</td>
            <td>{{ expense.description }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'add_expense' %}">Add New Expense</a>
</body>
</html>
